<div id="<%= dom_id message %>">
  <p>
    <strong>Content:</strong>
    <%= message.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= message.user %>
  </p>

  <p>
    <strong>Chat room:</strong>
    <%= message.chat_room_id %>
  </p>

</div>
